celery==4.4.7
flower==0.9.7
geoip2==4.1.0
ipinfo==4.1.0
ipwhois==1.2.0
IPy==1.1
mongoengine==0.22.1
pydnsbl==1.1.2
pysocks==1.7.1
python-dateutil==2.8.1
ratelimit==2.2.1
redis==3.5.3
requests==2.25.1
tld==0.12.5
tldextract==3.1.0
urlextract==1.2.0
user-agents==2.2.0
validators==0.18.2